#box{
    background-color: yellow;
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px auto 10px auto;
    text-align: center;
    line-height: 100px;
}
#box2{
    background-color: blue;
    margin-left: 10px;
    padding: 0px 10px 30px 40px;
}
body{
    font-size: 16px;
}

p{
    font-size: 2rem;
    font-family: Arial, Courier;
}
.keypoint{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}